@layer theme, base, components, utilities;

@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@import '../js/components/action.css';
@import '../js/components/box.css';

@theme static {
    /* RED */
    --background-fire: oklch(0.98 0.034 5);
    --color-primary-fire: oklch(0.5 0.2 5);
    --foreground-fire: oklch(0.15 0.034 5);

    /* BLUE */
    --background-water: oklch(0.98 0.034 257);
    --color-primary-water: oklch(0.5 0.2 257);
    --foreground-water: oklch(0.15 0.034 257);

    /* YELLOW */
    --background-lightning: oklch(0.98 0.05 90);
    --color-primary-lightning: oklch(0.6 0.5 90);
    --foreground-lightning: oklch(0.15 0.05 90);

    /* BROWN */
    --background-earth: oklch(0.98 0.034 50);
    --color-primary-earth: oklch(0.6 0.1 50);
    --foreground-earth: oklch(0.15 0.034 50);

    /* PURPLE */
    --background-ice: oklch(0.98 0.034 294);
    --color-primary-ice: oklch(0.6 0.3 294);
    --foreground-ice: oklch(0.15 0.034 294);

    /* CYAN */
    --background-air: oklch(0.98 0.034 194);
    --color-primary-air: oklch(0.6 0.5 194);
    --foreground-air: oklch(0.15 0.034 194);

    /* SILVER */
    --background-metal: oklch(0.98 0 230);
    --color-primary-metal: oklch(0.7 0 230);
    --foreground-metal: oklch(0.15 0 230);

    /* GREEN */
    --background-nature: oklch(0.98 0.034 145);
    --color-primary-nature: oklch(0.5 0.3 145);
    --foreground-nature: oklch(0.15 0.034 145);

    /* PINK */
    --background-default: oklch(0.98 0.015 329);
    --color-primary-default: oklch(0.5 0.2 329);
    --foreground-default: oklch(0.15 0.03 329);
}

@theme {
    --font-sans: 'Silkscreen', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme inline {
    /* RED */
    --background: var(--background-earth);
    --foreground: var(--foreground-earth);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-muted: --alpha(var(--foreground) / 60%);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    body {
        @apply bg-background text-foreground font-sans tracking-tight;
        text-rendering: geometricPrecision;
    }
}

@layer utilities {
    .font-numeric {
        font-variant-numeric: tabular-nums;
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.pixelated {
    image-rendering: pixelated;
}
