@layer components {
    .box-shadow {
        --box-depth: 4px;
        position: relative;
        padding-bottom: 2px;
        border-bottom: 2px solid --alpha(var(--color-foreground) / 40%);
        box-shadow: 0 2px 0 0 --alpha(var(--color-foreground) / 20%);
    }

    .box-shadow:before {
        content: '';
        position: absolute;
        left: -2px;
        top: 0;
        bottom: 0;
        width: 2px;
        border-bottom: 2px solid --alpha(var(--color-foreground) / 40%);
        box-shadow: 0 2px 0 0 --alpha(var(--color-foreground) / 20%);
    }

    .box-shadow:after {
        content: '';
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 2px;
        border-bottom: 2px solid --alpha(var(--color-foreground) / 40%);
        box-shadow: 0 2px 0 0 --alpha(var(--color-foreground) / 20%);
    }

    .box-shadow:active {
        --box-depth: 0px;
        transform: translateY(6px);
    }

    .box-outer {
        display: block;
        position: relative;
        background: --alpha(var(--color-foreground) / 20%);
        border-top: 2px solid --alpha(var(--color-foreground) / 30%);
        border-bottom: var(--box-depth) solid --alpha(var(--color-foreground) / 30%);
        box-shadow: 0 2px 0 0 --alpha(var(--color-foreground) / 70%);
    }

    .box-outer:before {
        content: '';
        background: var(--color-background);
        position: absolute;
        left: 2px;
        right: 2px;
        top: 0;
        bottom: 0;
    }

    .box-outer:after {
        content: '';
        background: var(--color-background);
        position: absolute;
        left: 0;
        right: 0;
        top: 2px;
        bottom: 2px;
    }

    .box-inner {
        display: block;
        position: relative;
        z-index: 1;

        &:not(.box-inner-icon) {
            padding: --spacing(2) --spacing(4);
        }

        &.box-inner-icon {
            padding: --spacing(2);
        }
    }

    .box-inner:before {
        content: '';
        background: --alpha(var(--color-foreground) / 70%);
        position: absolute;
        left: -2px;
        top: 0;
        bottom: calc(-1 * var(--box-depth));
        width: 2px;
    }

    .box-inner:after {
        content: '';
        background: --alpha(var(--color-foreground) / 70%);
        position: absolute;
        right: -2px;
        top: 0;
        bottom: calc(-1 * var(--box-depth));
        width: 2px;
    }
}
